<style>
  body {
    background: <%= @color %>;
  }
</style>

<h1>Passing params from view to controller</h1>
<h3>My favorite color is <%= @color %>!</h3>
<br>
<% if @size.to_i > 12 %>
    <h3> I have HUGE feet!</h3>
<% else %> 
    <h3>My shoe size is <%= @size %></h3>
<% end %>
<%= link_to "Olive", param_path(color: "Olive"), class: "btn btn-primary" %>
<%= link_to "Purple", param_path(color:"Purple"), class: "btn btn-danger" %>


